* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div#wrapper {
    width: 600px;
    max-width: 80%;
    border: 1px solid #333333;
    padding: 50px 80px;
    margin: 50px auto;
}
#company-info{
    display: none;
}
.input-container {
    margin: 20px 0px;
}
input {
    border: 1px solid #333333;
    padding: 5px;
    font-size: 16px;
}
input:focus {
    outline: none;
}
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    margin-top: 5px;
}
p.result {
    height: 20px;
    display: inline-block;
}
#submit-btn {
    padding: 15px 30px;
    background-color: #1AA3E9;
    border: none;
    color: #fff;
}