#wrapper {
    width: 500px;
    max-width: 80%;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
}
#button {
    padding: 10px 30px;
    background-color: #56CF47;
    border-radius: 10px;
    color: #333333;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
#button:hover {
    background-color: rgb(80, 189, 65);
}
#button:focus {
    outline: none;
}
p {
    font-size: 16px;
}
.hidden {
    display: none;
}